/* General Styles */
body, html {
    background-image: url('bg1.jpg');
    background-size: cover; /* Ensure the image covers the entire background */
    background-repeat: no-repeat; /* Prevent repeating */
    background-position: center; 
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    width: 100%;
    height: 100%;
}

/* First Page Styles */
 .container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    position: relative;
    color: white;
    text-align: left;
}

.header {
    margin-bottom: 20px;
}

.header>p{
    padding-left: 10%;
    color: rgb(221, 232, 241); 
    position: relative;
    opacity: 45%;
}

.header h1:first-of-type {
    padding-left: 10%;
    font-size: 4rem;
    margin:auto;
    margin-bottom: 20px;
}
.header h1:last-of-type {
    padding-left: 10%; 
    font-size: 2rem;
}

.header p a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

.burger-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 2rem;
    cursor: pointer;
    display: inline-block;
    z-index: 1000;
}
  
input[type="checkbox"] {
    display: none;
}

.menu-content {
    position: fixed;
    top: 0;
    right: -1900px;
    width: 100%;
    height: 100%;
    background: rgba(217, 192, 192, 0.9);
    overflow-y: auto;
    transition: right 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

input[type="checkbox"]:checked ~ .menu-content {
    right: 0;
}

.grid-container {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: auto; /* Automatically adjust rows based on content */
   gap: 30px; /* Space between grid items */
   justify-content: center; /* Center items horizontally */
   align-content: center; /* Center items vertically */
   min-height: 80vh; /* Ensure container takes full viewport height */
   padding: 10px; /* Add padding around the grid container */
}

.grid-item {
    background-color: #d9e8e8;
    color: black;
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: 1rem;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
    width: 80%;
    text-align: center;
} 
